
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/env/
*.log
*.tmp
*.tsbuildinfo
*.env
*.env.local
*.env.development
*.env.test
*.env.production
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.orig
*.rej   
auth.json
credentials.json
